/* TodoList.css */
.todo-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-btn {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
  border-bottom: none;
}

.remove-button {
  padding: 6px 10px;
  border: none;
  background-color: #ff4136;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
/* TodoList.css */
.element{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.tds{
 display: flex;
 align-items:center ;
 justify-content: center;
}

