body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}/* styles.css */
:root {
  --background-color-light: #ffffff;
  --text-color-light: #333333;
  
  --background-color-dark: #222222;
  --text-color-dark: #ffffff;

}
.app{
  height: 100vh;
}

